body{
    margin: 0;
    padding: 0;
}

.login-section{
    background: url('http://getwallpapers.com/wallpaper/full/8/a/a/973851-vertical-iceland-wallpaper-1920x1080-for-mac.jpg');
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.login-title{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.inputBox{
    position: relative;
}

.inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.input-label{
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.login-btn{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background-image: linear-gradient(to left, #12CBC4, #0652DD, #12CBC4);
    background-size: 200%;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: .5s;
}

.login-btn:hover{
    background-position: right;
}

.input-false{
    color: #e74c3c;
}
